body {
  background-color:#fafafa;
  font-family: 'Public Sans', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Public Sans', sans-serif;

}


.title-head {
  background-color: #fff;
  margin: 15px auto 15px auto;
  padding: 0% 3%;
  position: relative;
  z-index: 2;
}


.title-main-text {
  text-align: left;
  padding: 20% 4% 0% 0%;
}


.title-text{
  font-size:3.5rem;
  color:#292c4d;
}

.title-text2{
  font-size:1.2rem;
  color:#9a999e;
  line-height:1.4;
  padding-bottom: 20px;
}

.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafafa;
  justify-content: center;
}

.main-left {
  width:600px;
}
.main-right {
  width:650px;
}

.btn-design {
  background-image: linear-gradient(to right, #29d46e 0%, #2fc49a 51%, #28bbcf 100%);
  border-style: none;
  border-radius: 30px;
  padding: 10px 35px;
  color: #fff;
  font-size: 1rem;
}

.btn-request {
  margin:0px 0px 25px 0px;
}

.phone-bg-div {
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 730px;
}

.phone-img {
  width:700px;
}


.nav-item {
  padding:0 12px;
}

.navbar-toggler-div {
  position: absolute;
  right:0px;

}

.navbar-div {
  padding-left: 250px;
}


#feature {
  background-color: #f4f5f7;
  margin: 0px auto 0px auto;
  padding: 10% 5% 3% 5%;
}

.feature-box {
  padding: 55px 0px;
  text-align: center;
}

.teatures-title {
  margin-top:35px;
}


#Latest {
  background-color: #fafafa;
  padding: 4% 5%;
}

.Latest-box {
  padding: 25px 0px;
  text-align: center;
}

.card-body {
  text-align: left;
}

.text-small {
  font-size:11px;
  color:#a7a7a9;
}

.card-text {
  color:#959597;
  font-size: 13px;
  line-height: 1.5;
}


#footer {
  background-color: #2d314e;
  padding: 3% 0%;
}


.grid-container {
  margin:20px auto;
  padding:0% 2%;
  width:97%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item1 {
  text-align: center;
  width:200px;
}
.grid-item2 {
  text-align: center;
  width:800px;
}
.grid-item3 {
  text-align: center;
  width:200px;
}

.bottom-icon {
  color:#fff;
  padding:7% 2%;
}



.bottom_menu {
  color:#d5d9f6;
  font-size:14px;
  padding-top: 30px;
}


.footer-text {
  color:#9395ac;
  font-size:13px;
  padding:7% 2%;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media (max-width:1028px) {


  .request-btn {
    visibility: hidden;
  }

 .title-main-text {
   text-align: center;
 }

}


@media (max-width:375px) {


  .request-btn {
    visibility: hidden;
  }

 .title-main-text {
   text-align: center;
 }

}
